@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

* {
  font-family: Roboto;
}

#bg-image {
  background-image: url('../images/black-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
}

/* Container for the two main divs on the page */
#main-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 100%;
  grid-template-columns: 15% 85%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Container on the left */
#log-list-container {
  display: grid;
  grid-area: 1 / 1 / span 1 / span 1;
  grid-template-rows: repeat(2, 50px) auto;
  grid-template-columns: 100%;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  padding: 0;
  border-right: 2px solid black;
}

#global-timestamp {
  grid-area: 1 / 1 / span 1 / span 1;
  width: 100%;
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 16px;
}

#search-logs {
  grid-area: 2 / 1 / span 1 / span 1;
  width: 100%;
  margin-top : 12px;
}

#search-logs-text-field {
  display: block;
  margin: 0 auto 0 auto;
  width: 80%;
  height: 24px;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: white;
  color: black;
  border: 1px solid rgba(60, 60, 60, 0.9);
}

#list-of-logs {
  width: calc(100% + 14px);
  grid-area: 3 / 1 / span 1 / span 1;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;
  text-align: left;
  transform: translateX(-15px);
  margin: 12px 0 0 0;
  border-top: 1px solid white;
}

#list-of-logs li {
  width: calc(100%);
  height: auto;
  font-size: 1.4rem;
  color: black;
  border-bottom: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(250, 250, 250, 0.8);
}

#list-of-logs li:hover {
  background-color: rgba(50, 50, 100, 0.9);
  color: white;
}

.selected-log {
  background-color: rgba(0, 0, 55, 1.0) !important;
  color: white !important;
}

.successful-read {
  background-color: rgba(0, 155, 0, 0.4) !important;
  color: white !important;
}

.successful-read:hover {
  background-color: rgba(0, 155, 0, 0.8) !important;
}

/* Bigger container on the right for all the juicy shit */
#log-block-container {
  grid-area: 1 / 2 / span 1 / span 1;
  height: 100vh;
  width: calc(100% + 14px);
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.log-block {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  display: inline-grid;
  border: 1px solid white;
  color: white;
  overflow-x: hidden;
  font-size: 0.8em;
  padding: 0;
  grid-template-rows: 32px auto;
  grid-template-columns: 100%;
}

.log-block-top-bar {
  display: grid;
  grid-area: 1 / 1 / span 1 / span 1;
  grid-template-rows: 100%;
  grid-template-columns: 28px 2fr 6fr;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  color: black;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
}

.exit-button {
  grid-area: 1 / 1 / span 1 / span 1;
  background-image: url('../images/exit.svg');
  position: relative;
  width: 24px;
  height: 24px;
  margin: 4px;
}

.log-block-filename {
  display: grid;
  grid-area: 1 / 2 / span 1 / span 1;
  padding-top: 6px;
  font-size: 1.1em;
  margin-left: 1em;
  text-align: left;
}

.log-block-last-updated {
  grid-area: 1 / 3 / span 1 / span 1;
  font-size: 0.9em;
  padding-top: 6px;
  text-align: right;
  padding-right: 1em;
}

.log-block-data {
  grid-area: 2 / 1 / span 1 / span 1;
  overflow-y: scroll;
  padding: 1.0em;
  line-height: 1.4em;
  font-size: 0.8em;
  color: white;
}